{{define "title"}}Register{{end}}

{{define "main"}}
<section class="w-full flex-grow flex flex-col items-center justify-center py-12">
	<form class="bg-feathers rounded-[2rem] px-10 py-4 pb-2 flex flex-col items-start text-lg w-5/6 lg:w-1/2">
		<h2 class="mb-4 text-xl font-bold">Welcome to Honkboard!</h2>
		<p class="mb-4 flex flex-col gap-0.5 w-full relative">
			<label for="email" class="">Email:</label>
			<input type="email" name="email" id="email"
				class="px-4 rounded-full focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in"
				{{with .Form.Email}} value="{{.}}"{{end}}
			>
			{{with .Form.FieldErrors.email}}
			<span class="absolute top-[3.65rem] left-2 text-red-500 text-sm">{{.}}</span>
			{{end}}
		</p>
		<p class="mb-4 flex flex-col gap-0.5 w-full relative">
			<label for="name" class="">Name:</label>
			<input type="text" name="name" id="name" class="px-4 rounded-full focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in"
				{{with .Form.Name}} value="{{.}}"{{end}}
			>
			{{with .Form.FieldErrors.name}}
				<span class="absolute top-[3.65rem] left-2 text-red-500 text-sm">{{.}}</span>
			{{end}}
		</p>
		<p class="mb-4 flex flex-col gap-0.5 w-full relative">
			<label for="password" class="">Password:</label>
			<input type="password" name="password" id="password" class="px-4 rounded-full focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in">
			{{with .Form.FieldErrors.password}}
				<span class="absolute top-[3.65rem] left-2 text-red-500 text-sm">{{.}}</span>
			{{end}}
		</p>
		<p class="mb-4 flex flex-col gap-0.5 w-full relative">
			<label for="password_confirm" class="">Password Confirm:</label>
			<input type="password" name="password_confirm" id="password_confirm" class="px-4 rounded-full focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in">
			{{with .Form.FieldErrors.password_confirm}}
				<span class="absolute top-[3.65rem] left-2 text-red-500 text-sm">{{.}}</span>
			{{end}}
		</p>
		<p class="text-sm mb-4 pt-1">Already have an account?<br><a href="/login" class="underline">Click here!</a></p>
		<p class="mb-4 flex flex-col">
			<input type="submit"
				class="text-white rounded-xl bg-blue-300 px-2 py-1 focus:outline-none focus:bg-blue-500 hover:bg-blue-500 transition duration-150 ease-in"
				value="Register"
				hx-post="/users"
				hx-target="body"
				hx-swap="innerHTML"
				hx-push-url="true"
			>
		</p>
	</form>
</section>
{{end}}
