@tailwind base;
@tailwind utilities;
@tailwind components;

scrollbar-width: thin; /* Options: auto, thin, none */
scrollbar-color: #C87824 #FDF6E3; /* thumb color and track color */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #FDF6E3;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top-right-radius: 2rem 2rem;
  border-bottom-right-radius: 2rem 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C87824;
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

