{{define "base"}}
<!doctype html>
<html lang='en'>
		<head>
			<meta charset='utf-8'>
			<title>{{template "title" .}} - Honkboard</title>
			<link rel="stylesheet" href="/static/css/main.css">
			<link rel="stylesheet" href="/static/css/tailwind.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
			<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
			<script src="/static/js/htmx.js"></script>
			<script defer src="/static/js/alpine.js"></script>
			<script src="/static/js/index.js"></script>
		</head>
		<body
			class="relative text-slate-900 flex flex-col font-fredoka h-screen overflow-hidden"
			hx-boost
		hx-headers='{"X-CSRF-TOKEN": "{{.CSRFToken}}"}'
		>
				<header class="flex flex-col w-full bg-feathers-dark relative">
					<div class="flex flex-row justify-start items-center gap-2 mx-4 h-[4.5rem]">
						<img src="/static/img/logo-white.png" class="h-full"/>
						<h1 class="text-3xl">HONKBOARD</h1>
					</div>
					<div>
						<nav class="absolute flex h-[4.5rem] items-center text-lg w-full justify-end gap-4 right-10 bottom-1">
							{{if .IsAuthenticated}}
								<button
									class="rounded-full text-xl px-2 py-0.5 focus:outline-none focus:bg-beak/30 hover:bg-beak/30 active:bg-beak/70 transition duration-150 ease-in list-switcher"
									hx-delete="/sessions"
									hx-target="body"
								>
						Logout</button>
							{{else}}
								<a class="rounded-full px-2 py-0.5 text-xl focus:outline-none focus:bg-beak/30 hover:bg-beak/30 active:bg-beak/70 transition duration-150 ease-in list-switcher" href="/login">Login</a>
								<a class="rounded-full px-2 py-0.5 text-xl focus:outline-none focus:bg-beak/30 hover:bg-beak/30 active:bg-beak/70 transition duration-150 ease-in list-switcher" href="/register">Register</a>
							{{end}}
						</nav>
					</div>
				</header>
				{{if .IsAuthenticated}}
					{{template "nav" .}}
				{{end}}
				<main class="w-full flex-grow overflow-y-scroll flex">
					{{template "main" .}}
				</main>
		{{if .ShowFooter}}
			<footer class="w-full flex justify-center bg-feathers-dark py-2 relative">
				<p>Powered by <a class="underline focus:outline-none focus:text-beak hover:text-beak transition duration-150 ease-in" href='https://golang.org/'>Go</a></p>
			</footer>
		{{end}}
		</body>
</html>
{{end}}
