{{define "base"}}
<!doctype html>
<html lang='en'>
		<head>
			<meta charset='utf-8'>
			<title>{{template "title" .}} - Honkboard</title>
			<link rel="stylesheet" href="/static/css/main.css">
			<link rel="stylesheet" href="/static/css/tailwind.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
			<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
			<script src="/static/js/htmx.js"></script>
			<script defer src="/static/js/alpine.js"></script>
		</head>
		<body class="relative text-slate-900 flex flex-col font-fredoka h-screen overflow-hidden">
				<header class="flex justify-center items-center gap-2 h-[5rem] bg-feathers-dark">
					<img src="/static/img/logo-white.png" class="h-full"/>
					<h1 class="text-3xl">HONKBOARD</h1>
				</header>
				{{template "nav" .}}
				<main class="w-full flex-grow">
					{{template "main" .}}
				</main>
			<footer class="w-full flex justify-center bg-feathers-dark py-2 relative">
				<p>Powered by <a class="underline focus:outline-none focus:text-beak hover:text-beak transition duration-150 ease-in" href='https://golang.org/'>Go</a></p>
				<img class="absolute h-[6rem] top-[-3rem] left-[54%]" src="/static/img/standing.svg">
			</footer>
		</body>
</html>
{{end}}
