{{define "nav"}}
<nav class="bg-feathers flex h-[2.5rem] items-center text-xl">
	<button
		class='w-1/2 h-full text-center focus:outline-none focus:bg-beak/50 hover:bg-beak/30 transition duration-150 ease-in'
		hx-get="/personal"
		hx-target="#todo-list"
		hx-swap="outerHTML"
	>Personal</button>
	<button
		class='w-1/2 h-full text-center focus:outline-none focus:bg-beak/50 hover:bg-beak/30 transition duration-150 ease-in'
		hx-get="/professional"
		hx-target="#todo-list"
		hx-swap="outerHTML"
	>Professional</button>
</nav>
{{end}}
