{{define "request-password-reset-form"}}
<form class="relative bg-feathers rounded-[2rem] px-10 py-4 pb-2 flex flex-col items-start text-lg w-5/6 lg:w-1/2 shadow-xl shadow-beak/20">
	<div class="flex flex-row justify-start items-center gap-1 mb-4">
		<p>←</p>
		<a href="/"
			class="underline hover:text-beak transition duration-150 ease-in font-lg focus:outline-none focus:text-beak"
		>Back</a>
	</div>
	<h2 class="text-xl font-bold mb-0.5">Forgot your password?</h2>
	<p class="mb-4">Type your email and we send you a link to reset it.</p>
	<p class="mb-6 flex flex-col gap-0.5 w-full relative">
		<label for="email" class="">Email:</label>
		<input type="email" name="email" id="email"
			class="px-4 rounded-full focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in"
			{{with .Form.Email}} value="{{.}}"{{end}}
		>
		{{with .Form.FieldErrors.email}}
			<span class="absolute top-[3.65rem] left-2 text-red-500 text-sm">{{.}}</span>
		{{end}}
	</p>
	<p class="mb-4 flex flex-row gap-2 items-center flex-start">
		<input type="submit"
			class="text-white rounded-xl bg-blue-300 px-2 py-1 focus:outline-none focus:bg-blue-500 hover:bg-blue-500 transition duration-150 ease-in"
			value="Send Mail"
			hx-post="/request-password-link"
			hx-target="closest form"
			hx-swap="outerHTML"
		>
	</p>
</form>
{{end}}
