{{define "request-password-code-form"}}
<form class="relative bg-feathers rounded-[2rem] px-10 py-4 pb-2 flex flex-col items-start text-lg w-5/6 lg:w-1/2" x-data="verificationCode">
	<h2 class="text-xl font-bold mb-0.5">Reset your password</h2>
	<p class="mb-4">Please enter the code we just sent to you into the field below.</p>
	<p class="relative flex gap-2 h-10 mx-auto mb-4">
			<template x-for="(digit, index) in code" :key="index">
				<input
					type="text"
					maxlength="1"
					x-bind:value="digit"
					class="code-input h-full w-10 px-2 rounded-lg focus:outline-none focus:bg-beak/30 hover:bg-beak/30 transition duration-150 ease-in text-center"
					required
				>
			</template>
		<input type="hidden" name="code" x-bind:value="joinedCode">
		{{with .Form.FieldErrors.code}}
		<span class="absolute bottom-[-1.5rem] left-2 text-red-500 text-sm">{{.}}</span>
		{{end}}
	</p>
	<p class="mb-4 flex flex-row gap-2 items-center flex-start">
		<input type="submit"
			class="text-white rounded-xl bg-blue-300 px-2 py-1 focus:outline-none focus:bg-blue-500 hover:bg-blue-500 transition duration-150 ease-in"
			value="Verify"
			hx-post="/reset-password-code"
			hx-target="body"
			hx-swap="innerHTML"
		>
	</p>
</form>

<script src="/static/js/request-password-validation.js">
</script>
{{end}}
