{{define "subject"}}Honkboard - Your Password Reset Link{{end}}
{{define "plainBody"}}
Hey,

We heard a little honk — someone (hopefully you) requested to reset the password for your Honkboard account.

To reset your password, just click the link below:

{{.BaseURL}}/reset-password?token={{.PasswordResetToken.Token}}

If you didn’t request this, you can safely ignore this email — your password is still as safe as a goose guarding its nest.

The link will expire in 10 minutes, so don’t waddle too slowly!

The Honkboard Team
{{end}}
{{define "htmlBody"}}

<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
		<p>Hey,</p>
		<p>We heard a little honk — someone (hopefully you) requested to reset the password for your Honkboard account.</p>
		<p>To reset your password, just click the link below:</p>
		<a href="{{.BaseURL}}/reset-password?token={{.PasswordResetToken.Token}}">Reset password</a>
		<p>If you didn’t request this, you can safely ignore this email — your password is still as safe as a goose guarding its nest.</p>
		<p>The link will expire in 10 minutes, so don’t waddle too slowly!</p>
		<p>The Honkboard Team</p>
</body>
</html>
{{end}}
